body{
    font-family:"Noto Serif",'SutonnyMJ', Georgia, serif;
    font-weight:400;
    }
#page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle,
h2.widgettitle, h5.widgettitle{
   
}
.footer_bar_wrapper, .footer_bar{
    border-color: rgba(255,255,255,.2);
}
#footer .sidebar_widget li.widget_mc4wp_form_widget h2.widgettitle,
#footer .sidebar_widget li h2.widgettitle{
    color: #111111!important;
     font-size: 16px!important;
     font-family:"Noto Serif",'SutonnyMJ', Georgia, serif;
}