/* 
    Created on : Jan 5, 2019, 2:08:20 AM
    Author     : anup
*/
@font-face {
    font-family: 'SutonnyMJ';
    src: url('../fonts/SutonnyMJ-Regular.woff2') format('woff2'),
         url('../fonts/SutonnyMJ-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
